.checkout_form {
  display: flex;
  flex-direction: row;
}

.basket_summary {
  padding: 1em 0;

  .products {
    display: block;
    width: 25%;
    padding: 1.5em;

    border-bottom: 1px solid #fafafa;
    &.even {
      background: #fafafa;
    }
    .infoWrap {
      display: table;
      width: 100%;
    }
    .cartSection {
      display: table-cell;

      vertical-align: middle;

      .itemNumber {
        text-transform: uppercase;
        font-size: 0.75em;
        color: #777;
        margin-bottom: 0.5em;
      }

      h3 {
        font-size: 1em;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.025em;
      }
      p {
        display: inline-block;
        font-size: 0.85em;

        color: #777777;
        .quantity {
          font-weight: bold;
          color: #333;
        }
      }
      .itemImg {
        width: 4em;

        float: left;
      }
      &.qtyWrap,
      &.prodTotal {
        text-align: center;
        p {
          font-weight: bold;
          font-size: 1.25em;
        }
      }

      input.qty {
        width: 2em;
        text-align: center;
        font-size: 1em;
        padding: 0.25em;
        margin: 1em 0.5em 0 0;
      }
      .itemImg {
        width: 8em;
        display: inline;
        padding-right: 1em;
      }
    }
  }
}
