.productPage {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.product {
  display: flex;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.product .productImage {
  display: inline;
  width: 500px;
  height: 500px;
}

.product .productInfo {
  display: flex;
  flex-direction: column;
  width: 40%;
  align-items: start;
}

.productInfo__price {
  margin: 1rem;
}
